[Unit]
Description=AWS CI/CD Node.js Backend
After=network.target

[Service]
Type=simple

User=ec2-user
Group=ec2-user

WorkingDirectory=/opt/aws-cicd-backend

Environment=NODE_ENV=production
Environment=PORT=12008

ExecStart=/usr/bin/node /opt/aws-cicd-backend/server.js

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target